stream {
  set nvar_minikubeip $MINIKUBE_IP;
  server {
    listen 80;
    proxy_pass nvar_minikubeip;
  }
  server {
    listen 5601;
    proxy_pass nvar_minikubeip:$KIBANA_PORT;
  }
  server {
    listen 9200;
    proxy_pass nvar_minikubeip:$ELASTICSEARCH_PORT;
  }
}